

<div class="card bg-success">
  <div class="card-header">Add an Item</div>
  <div class="card-body">

    <div class="input-group">
      <label for="selCollection">
        <b>Collection:</b>
        <select class="form-control" id="selCollection">
          <option value="Fossils">Fossils</option>
        </select>
      </label>
    </div>
    <div class="input-group">
      <label for="txtName">
        <b>Name:</b>
      <input type="text" id="txtName" class="form-control"/>
      </label>
    </div>

    <div class="input-group">
      <label for="txtDescription">
        <b>Description:</b>
        <textarea rows="10" id="txtDescription" class="form-control" ></textarea>
      </label>
    </div>

  </div>
  <div class="card-footer">
    <div class="btn btn-light">Save</div>&nbsp;
    <div class="btn btn-light">Cancel</div>
  </div>

</div>
