<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top">
  <a class="navbar-brand" href="#">CurioStore</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]='add'>Collections <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Add</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Lookup</a>
      </li>
    </ul>

    <ul class="nav navbar-nav  navbar-right">
      <li class="nav-link">Ful L. Name</li>
      <li class="nav-item">
        <a [routerLink]="['portal']" class="nav-link">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
