<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
      <div class="form-group">
        <label for="email"><b>Email address</b></label>
        <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter Email">
      </div>

      <div class="form-group">
        <label for="password"><b>Password</b></label>
        <input type="password" class="form-control" id="password" placeholder="Enter Password">
      </div>
      <a class="btn btn-primary">Submit</a>
  </div>
</div>