<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="card bg-success">
      <div class="card-header">Add a collection</div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm">
            <div class="row form-group">
              <label for="txtName" class="col-sm-2">
                <b>Name:</b>

              </label>
              <input type="text" id="txtName" class="form-control form-control col-sm-9"/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <div class="row form-group">
              <label for="txtDescription" class="col-sm-2">
                <b>Description:</b>

              </label>
              <textarea rows="10" id="txtDescription" class="form-control form-control col-sm-9"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn btn-light">Save</div>&nbsp;
        <div class="btn btn-light" (click)="cancel()">Cancel</div>
      </div>

    </div>
  </div>
</div>
