<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-6">
    <div class="card bg-success">
      <div class="card-header">Lookup an Item</div>
      <div class="card-body">
            <div class="row form-group">
              <div class="col-sm-2"></div>
              <input type="number" class="form-control col-sm-4" placeholder="Item#"/>
              <div class="col-sm-3">
                <div class="btn btn-light">Lookup</div>&nbsp;
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
